.bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #313237;
    background:linear-gradient(to right, #b661ed, #71a7fb);
    background-size: 100% 30%;
    background-repeat: no-repeat;
    /* filter: blur(10px); /* 调整模糊程度，可以根据需要修改值 */
}

.main .contain {
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 55%;
    width: 90%;
    max-width: 680px;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    color: #ffffff;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;

}

.main .title {
    color: #ffffff;
    font-size: 36px;
}

.main .contain .createItem {
    color: #999;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
    margin-top: 48px;
    font-weight: 600;
    box-shadow: #ccc 0px 0px 5px;
}

.itemList {
    color: #999;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 48px;
    font-weight: 600;
    box-shadow: #ccc 0px 0px 5px;
}

.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
}
